/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
} */

.cir {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(51, 51, 210) 35%, rgba(0, 212, 255, 1) 100%);
  width: 800px;
  height: 500px;
  clip-path: polygon(25% 0%, 56% 0, 56% 45%, 57% 99%, 25% 100%, 0% 50%);
  z-index: -1;
  position: absolute;
  right: -250px;
  top: 150px;

}
